# numpy
# opencv-python
# pickle
# face_recognition
opencv-contrib-python
# tensorflow
# opencv-python-headless
#opencv-python==4.5.3.56
opencv-python==3.4.11.45  # Install OpenCV 3.4.x version
mediapipe==0.8.6.2
auto-py-to-exe
